<!DOCTYPE html>
<html lang="en">
  <!-- include head -->
<%- include('../partials/head') %>
<script src="/js/productValidations.js"> </script>
  <body>
    
    <!-- include header -->
    <%- include('../partials/header') %>
    <main>
        <p class="rutahome">
            <a href="/user/profile">Perfil</a> / Alta producto /
        </p>
        <p id="title-alta"> Formulario de alta de producto </p>
       
        <section class="fichaprod">
            <section class="errores-front">
                <ul>
    
                </ul>
            </section>
            <form id="form-alta-prod" method="post" enctype="multipart/form-data" action="/product/crear">
                <div class="elementos-form">
                    <label for="mascota">Mascota:</label><br>
                    <select class="margen-ancho" id="mascota" name="mascota">
                        <option value="" selected></option>
                        <% for (let i = 0; i < pet.length; i++) { %>
                            <option value="<%= pet[i].id %>" <%= locals.old && locals.old.mascota == pet[i].id ? 'selected' : '' %>><%= pet[i].mascota %></option>
                        <% } %>
                    </select><br>
                    <% if (typeof errors != "undefined" && errors.mascota) {%>
                        <small id="msjErrorMascota" class="msjError"><%= errors.mascota.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorMascota" class="msjError"></small>
                     <% } %>   
                </div>
                <div class="elementos-form">
                <label for="nombreprod">Nombre producto:</label><br>
                <input class="margen-ancho" type="text" id="nombreprod" name="nombreprod" value="<%= locals.old ? old.nombreprod : null %>"><br>
                <% if (typeof errors != "undefined" && errors.nombreprod) {%>
                    <small  id="msjErrorNombre" class="msjError"><%= errors.nombreprod.msg  %></small>
                <% } else {%>
                    <small id="msjErrorNombre" class="msjError"></small>
                 <% } %>  
                </div>
               
                <div class="elementos-form">
                    <label for="precio">Precio:</label><br>
                    <input class="margen-ancho" type="number" id="precio" name="precio" step="any" value="<%= locals.old ? old.precio : null %>"><br>
                    <% if (typeof errors != "undefined" && errors.precio) {%>
                        <small id="msjErrorPrecio" class="msjError"><%= errors.precio.msg  %></small>
                    <% }else {%>
                        <small id="msjErrorPrecio" class="msjError"></small>
                     <% } %>  
                </div>
                <div class="elementos-form">
                    <label for="descuento">Descuento(%):</label><br>
                    <input class="margen-ancho" type="number" id="descuento" name="descuento" value="<%= locals.old ? old.descuento : null %>"><br>
                    <small id="msjErrorDesc" class="msjError"></small>
                </div>

                <div class="elementos-form">
                <label for="categoria">Categoría:</label><br>
                    <select  class="margen-ancho" id="categoria" name="categoria">
                        <option value=""></option>
                        <% for (let i = 0; i < category.length; i++) { %>
                            <option value="<%= category[i].id %>" <%= locals.old && locals.old.categoria == category[i].id ? 'selected' : '' %>><%= category[i].nombre %></option>
                        <% } %>
                </select><br>
                <% if (typeof errors != "undefined" && errors.categoria) {%>
                    <small id="msjErrorCat" class="msjError"><%= errors.categoria.msg  %></small>
                <% } else {%>
                    <small id="msjErrorCat" class="msjError"></small>
                 <% } %> 
                </div>

            <div class="elementos-form" id="subCatSelect">
                 <!-- solo mostrar si se selecciona cat alimentos -->
                <label for="subCat">Subcategoría:</label><br>           
                    <select class="margen-ancho" id="subCat" name="subCat">
                        <option value=""></option>
                        <% for (i=0; i< subCategory.length; i++) { %>
                            <% if (subCategory[i].id_category == 1) { %>
                     <option value="<%= subCategory[i].id %>" <%= locals.old && locals.old.subCat == subCategory[i].id ? 'selected' : '' %>><%= subCategory[i].nombre_sub_category %></option>
                                <% } %>
                         <% } %>                   
                    </select><br>
                   <% if (typeof errors != "undefined" && errors.subCat) {%>
                    <small  id="msjErrorSubCat" class="msjError"><%= errors.subCat.msg  %></small>
                <% } else {%>
                    <small id="msjErrorSubCat" class="msjError"></small>
                 <% } %> 
            </div>

            <div class="elementos-form" id="alimentoPresentacion">
                <label for="presentacion">Presentación:</label><br>
                <select  class="margen-ancho" id="presentacion" name="presentacion">
                    <option value=""></option>
                    <% for (i=0; i< packageRes.length; i++) { %>
                        <option value="<%= packageRes[i].id %>" <%= locals.old && locals.old.presentacion == packageRes[i].id ? 'selected' : '' %>><%= packageRes[i].cantidad %> <%= packageRes[i].unidad_medida %></option>
                    <% } %>
                </select><br>
                <% if (typeof errors != "undefined" && errors.presentacion) {%>
                    <small id="msjErrorPackage" class="msjError"><%= errors.presentacion.msg  %></small>
                <% } else {%>
                    <small id="msjErrorPackage" class="msjError"></small>
                 <% } %>
            </div>

                <!--fin alimentos -->
                <div class="elementos-form" id="subCatAccesorios">
                <!-- solo mostrar si se selecciona accesorios -->
                <label for="subCatAcc">Subcategoría:</label><br>
                    <select class="margen-ancho" id="subCatAcc" name="subCatAcc">
                        <option value=""></option>
                        <% for (i=0; i< subCategory.length; i++) { %>
                            <% if (subCategory[i].id_category == 2) { %>
                     <option value="<%= subCategory[i].id %>" <%= locals.old && locals.old.subCatAcc == subCategory[i].id ? 'selected' : '' %>><%= subCategory[i].nombre_sub_category %></option>
                                <% } %>
                         <% } %>
                </select><br>
                <% if (typeof errors != "undefined" && errors.subCatAcc) {%>
                    <small id="msjErrorSubCatAcc" class="msjError"><%= errors.subCatAcc.msg  %></small>
                <% } else {%>
                    <small id="msjErrorSubCatAcc" class="msjError"></small>
                 <% } %>
                <!-- fin accesorios -->
                </div>

                <div class="elementos-form">
                <!-- las marcas serian en funcion de la categoria? -->
                <label for="marca">Marca:</label><br>
                    <select class="margen-ancho" id="marca" name="marca">
                        <option value=""></option>
                        <% for (let i = 0; i < brand.length; i++) { %>
                            <option value="<%= brand[i].id %>" <%= locals.old && locals.old.marca == brand[i].id ? 'selected' : '' %>><%= brand[i].nombre_marca %></option>
                        <% } %>

                </select><br>
                <% if (typeof errors != "undefined" && errors.marca) {%>
                    <small id="msjErrorMarca" class="msjError"><%= errors.marca.msg  %></small>
                <% } else {%>
                    <small id="msjErrorMarca" class="msjError"></small>
                 <% } %>
                </div>

                <div class="elementos-form">
                <label for="edadmascota">Edad mascota:</label><br>
                    <select  class="margen-ancho" id="edadmascota" name="edadmascota">
                        <option value=""></option>
                        <% for (let i = 0; i < petAge.length; i++) { %>
                            <option value="<%= petAge[i].id %>" <%= locals.old && locals.old.edadmascota == petAge[i].id ? 'selected' : '' %>><%= petAge[i].edad %></option>
                        <% } %>
                    </select><br>
                    <% if (typeof errors != "undefined" && errors.edadmascota) {%>
                        <small id="msjErrorAge" class="msjError"><%= errors.edadmascota.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorAge" class="msjError"></small>
                     <% } %>
                </div>

                <div class="elementos-form">
                <label for="tamaniomascota">Tamaño mascota:</label><br>
                <select class="margen-ancho" id="tamaniomascota" name="tamaniomascota">
                    <option value="" selected></option>
                        <% for (let i = 0; i < petSize.length; i++) { %>
                            <option value="<%= petSize[i].id %>" <%= locals.old && locals.old.tamaniomascota == petSize[i].id ? 'selected' : '' %>><%= petSize[i].tamanio %></option>
                        <% } %>
                </select><br>
                <% if (typeof errors != "undefined" && errors.tamaniomascota) {%>
                    <small id="msjErrorSize" class="msjError"><%= errors.tamaniomascota.msg  %></small>
                <% } else {%>
                    <small id="msjErrorSize" class="msjError"></small>
                 <% } %>
                </div>
                
                <div class="elementos-form-100">
                <div id="box-destacado" class="margen-ancho">
                    <label for="destacado">Destacado:</label> <input type="checkbox" id="destacado" name="destacado" value="true">
                </div>
                </div>

                <div class="elementos-form-100">
                    <label for="descripcion">Descripción:</label><br>
                    <input class="margen-ancho" type="text" name="descripcion" id="descripcion" value="<%= locals.old ? old.descripcion : null %>"></input><br>
                    <% if (typeof errors != "undefined" && errors.descripcion) {%>
                        <small id="msjErrorDescripcion" class="msjError"><%= errors.descripcion.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorDescripcion" class="msjError"></small>
                     <% } %>
                </div>

                <div class="elementos-form">
                    <label for="stock">Stock:</label><br>
                    <input class="margen-ancho" type="number" id="stock" name="stock" value="<%= locals.old ? old.stock : null %>"><br>
                    <% if (typeof errors != "undefined" && errors.stock) {%>
                        <small id="msjErrorStock" class="msjError"><%= errors.stock.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorStock" class="msjError"></small>
                     <% } %>
                </div>

                <div class="elementos-form-100">
                    <label for="foto">Imagen:</label><br>
                    <input class="margen-ancho" type="file" id="foto" name="foto" accept="image/*"><br>
                    <% if (typeof errors != "undefined" && errors.foto) {%>
                        <small id="msjErrorImg" class="msjError"><%= errors.foto.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorImg" class="msjError"></small>
                     <% } %>
                </div>
                </div>
                
                <div class="elementos-form-100">
                    <div id="form-buttons">  
                        <button type="submit" id="botonguardar" name="botonguardar">GUARDAR</button>
                        <button type="reset"> BORRAR</button>
                    </div>
                </div>
            </form>
        </section>
       
    
        <!-- include marcas -->
       <%- include('../partials/marcas') %>
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>