<!DOCTYPE html>
<html lang="en">
  <!-- include head -->
<%- include('../partials/head') %>
<script src="/js/viewCreate.js"> </script>
  <body>
    
    <!-- include header -->
    <%- include('../partials/header') %>
    <main>
        <p class="rutahome">
            <a href="/user/profile">Perfil</a> / Alta producto /
        </p>
        <p id="title-alta"> Formulario de alta de producto </p>
        <section class="fichaprod">
            <form id="form-alta-prod" method="post" enctype="multipart/form-data" action="/product">
                <div class="elementos-form">
                    <label for="mascota">Mascota:</label><br>
                     <select class="margen-ancho" id="mascota" name="mascota">
                            <option value="" selected></option>
                        <% for (i=0; i< pet.length; i++) { %>
                            <option value="<%= pet[i].id %>"><%= pet[i].mascota %></option>
                        <% } %>
                    </select><br>

                </div>
                <div class="elementos-form">
                <label for="nombreprod">Nombre producto:</label><br>
                <input class="margen-ancho" type="text" id="nombreprod" name="nombreprod"><br>
                </div>
               
                <div class="elementos-form">
                    <label for="precio">Precio:</label><br>
                    <input class="margen-ancho" type="number" id="precio" name="precio" step="any"><br>
                </div>
                <div class="elementos-form">
                    <label for="descuento">Descuento(%):</label><br>
                    <input class="margen-ancho" type="number" id="descuento" name="descuento"><br>
                </div>

                <div class="elementos-form">
                <label for="categoria">Categoría:</label><br>
                    <select  class="margen-ancho" id="categoria" name="categoria" onchange="mostrarOpciones()">
                        <option value=""></option>
                        <% for (i=0; i< category.length; i++) { %>
                            <option value="<%= category[i].id %>"><%= category[i].nombre %></option>
                        <% } %>
                </select><br>
                </div>

                <div class="elementos-form" id="subCatSelect" style="display: none;">
                 <!-- solo mostrar si se selecciona cat alimentos -->
                <label for="subCat">Subcategoría:</label><br>           
                    <select class="margen-ancho" id="subCat" name="subCat">
                        <option value=""></option>
                        <% for (i=0; i< subCategory.length; i++) { %>
                            <% if (subCategory[i].id_category == 1) { %>
                     <option value="<%= subCategory[i].id %>"><%= subCategory[i].nombre_sub_category %></option>
                                <% } %>
                         <% } %>
                          
                   </select><br>
            </div>

            <div class="elementos-form" id="alimentoPresentacion" style="display: none;">
                <label for="presentacion">Presentación:</label><br>
                <select  class="margen-ancho" id="presentacion" name="presentacion">
                    <option value=""></option>
                    <% for (i=0; i< packageRes.length; i++) { %>
                        <option value="<%= packageRes[i].id %>"><%= packageRes[i].cantidad %> <%= packageRes[i].unidad_medida %></option>
                    <% } %>
                </select><br>
            </div>

                <!--fin alimentos -->
                <div class="elementos-form" id="subCatAccesorios" style="display: none;">
                <!-- solo mostrar si se selecciona accesorios -->
                <label for="subCatAcc">Subcategoría:</label><br>
                    <select class="margen-ancho" id="subCatAcc" name="subCatAcc">
                        <option value=""></option>
                        <% for (i=0; i< subCategory.length; i++) { %>
                            <% if (subCategory[i].id_category == 2) { %>
                     <option value="<%= subCategory[i].id %>"><%= subCategory[i].nombre_sub_category %></option>
                                <% } %>
                         <% } %>

                </select><br>
                <!-- fin accesorios -->
                </div>

                <div class="elementos-form">
                <!-- las marcas serian en funcion de la categoria? -->
                <label for="marca">Marca:</label><br>
                    <select class="margen-ancho" id="marca" name="marca">
                        <option value=""></option>
                        <% for (i=0; i< brand.length; i++) { %>
                            <option value="<%= brand[i].id %>"><%= brand[i].nombre_marca %></option>
                        <% } %>

                </select><br>
                </div>

                <div class="elementos-form">
                <label for="edadmascota">Edad mascota:</label><br>
                    <select  class="margen-ancho" id="edadmascota" name="edadmascota">
                        <option value="default"></option>
                        <% for (i=0; i< petAge.length; i++) { %>
                            <option value="<%= petAge[i].id %>"><%= petAge[i].edad %></option>
                        <% } %>
                    </select><br>
                </div>

                <div class="elementos-form">
                <label for="tamaniomascota">Tamaño mascota:</label><br>
                <select class="margen-ancho" id="tamaniomascota" name="tamaniomascota">
                    <option value="" selected></option>
                        <% for (i=0; i< petSize.length; i++) { %>
                            <option value="<%= petSize[i].id %>"><%= petSize[i].tamanio %></option>
                        <% } %>
                </select><br>
                </div>
                
                <div class="elementos-form-100">
                <div id="box-destacado" class="margen-ancho">
                    <label for="destacado">Destacado:</label> <input type="checkbox" id="destacado" name="destacado" value="true">
                </div>
                </div>

                <div class="elementos-form-100">
                    <label for="descripcion">Descripción:</label><br>
                    <textarea name="descripcion" id="descripcion"></textarea><br>
                </div>

                <div class="elementos-form">
                    <label for="stock">Stock:</label><br>
                    <input class="margen-ancho" type="number" id="stock" name="stock"><br>
                </div>

                <div class="elementos-form-100">
                    <label for="foto">Imagen:</label><br>
                    <input class="margen-ancho" type="file" id="foto" name="foto" accept="image/*"><br>
                </div>
                
                <div class="elementos-form-100">
                    <div id="form-buttons">  
                        <button type="submit" >GUARDAR</button>
                        <button type="reset"> BORRAR</button>
                    </div>
                </div>
            </form>
        </section>
       
    
        <!-- include marcas -->
       <%- include('../partials/marcas') %>
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>