<!DOCTYPE html>
<html lang="en">
  <!-- include head -->
<%- include('../partials/head', {title: 'Editando producto: ' + producto.id})%>
<script src="/js/productValidations.js"> </script>
  <body>
    
    <!-- include header -->
    <%- include('../partials/header') %>
    <main>
        <p class="rutahome">
            <a href="/user/profile">Perfil</a> / Edición producto /
        </p>
        <p id="title-alta"> Formulario edición de producto </p>
      
        <section class="fichaprod">
        
            <section class="errores-front">
                <ul>
    
                </ul>
            </section>
            <form id="form-alta-prod" method="post" action="/product/editar/<%=producto.id%>?_method=PUT" enctype="multipart/form-data">
                <div class="elementos-form">
                    <label for="mascota">Mascota:</label><br>
                    <select class="margen-ancho" id="mascota" name="mascota" >
                        <% petList.forEach (pet => { %>
                            <option value=" <%= pet.id %> " <% if (producto.id_mascota === pet.id) { %> selected <% } %>><%= pet.mascota %></option>
                        <% }) %>
                    </select><br>
                    <% if (typeof errors != "undefined" && errors.mascota) {%>
                        <small id="msjErrorMascota" class="msjError"><%= errors.mascota.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorMascota" class="msjError"></small>
                     <% } %>

                </div>
                <div class="elementos-form">
                <label for="nombreprod">Nombre producto:</label><br>
                <input class="margen-ancho" type="text" id="nombreprod" name="nombreprod" value="<%= locals.old && locals.old.nombreprod ? old.nombreprod : producto.nombre %>"><br>
                <% if (typeof errors != "undefined" && errors.nombreprod) {%>
                    <small  id="msjErrorNombre" class="msjError"><%= errors.nombreprod.msg  %></small>
                <% } else {%>
                    <small id="msjErrorNombre" class="msjError"></small>
                 <% } %>
                </div>
               
                <div class="elementos-form">
                    <label for="precio">Precio ($ ARS):</label><br>
                    <input class="margen-ancho" type="number" id="precio" name="precio" step="any" value="<%= locals.old && locals.old.precio ? old.precio : producto.precio %>"><br>
                    <% if (typeof errors != "undefined" && errors.precio) {%>
                        <small id="msjErrorPrecio" class="msjError"><%= errors.precio.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorPrecio" class="msjError"></small>
                     <% } %> 
                </div>
                <div class="elementos-form">
                    <label for="descuento">Descuento(%):</label><br>
                    <input class="margen-ancho" type="text" id="descuento" name="descuento" value="<%= locals.old && locals.old.descuento ? old.descuento : producto.descuento %>"><br>
                    <small id="msjErrorDesc" class="msjError"></small>
                </div>

                <div class="elementos-form">
                    <label for="categoria">Categoría:</label><br>
                        <select  class="margen-ancho" id="categoria" name="categoria">
                        <% categoryList.forEach (category => { %>
                            <option value=" <%= category.id %> " <% if (producto.id_categoria === category.id) { %> selected <% } %>><%= category.nombre %></option>
                        <% }) %>
                </select><br>
                <% if (typeof errors != "undefined" && errors.categoria) {%>
                    <small id="msjErrorCat" class="msjError"><%= errors.categoria.msg  %></small>
                <% } else {%>
                    <small id="msjErrorCat" class="msjError"></small>
                 <% } %> 
                </div>

                <div class="elementos-form" id="subCatSelect">
                    <!-- solo mostrar si se selecciona cat alimentos -->
                   <label for="subCat">Subcategoría:</label><br>           
                       <select class="margen-ancho" id="subCat" name="subCat">
                        <option value=""></option>
                        <% subCategoryAlimentosList.forEach (subCategory => { %>
                            <option value=" <%= subCategory.id %> " <% if (producto.id_sub_categoria === subCategory.id) { %> selected <% } %>><%= subCategory.nombre_sub_category %></option>
                        <% }) %>
                    </select><br>
                    <% if (typeof errors != "undefined" && errors.subCat) {%>
                        <small id="msjErrorSubCat" class="msjError"><%= errors.subCat.msg  %></small>
                    <% }else {%>
                        <small id="msjErrorSubCat" class="msjError"></small>
                     <% } %> 
                </div>

                <div class="elementos-form" id="alimentoPresentacion">
                    <label for="presentacion">Presentación:</label><br>
                    <select  class="margen-ancho" id="presentacion" name="presentacion">
                    <option value=""></option>
                    <% packageList.forEach (package => { %>
                        <option value="<%= package.id %>" <% if (producto.id_presentacion === package.id) { %> selected <% } %>><%= package.cantidad + ' ' + package.unidad_medida %></option>
                    <% }) %>                    
                </select><br>
                <% if (typeof errors != "undefined" && errors.presentacion) {%>
                    <small id="msjErrorPackage" class="msjError"><%= errors.presentacion.msg  %></small>
                <% } else {%>
                    <small id="msjErrorPackage" class="msjError"></small>
                 <% } %>
            </div>
                <!--fin alimentos -->
            
                <div class="elementos-form" id="subCatAccesorios">
                    <!-- solo mostrar si se selecciona accesorios -->
                    <label for="subCatAcc">Subcategoría:</label><br>
                        <select class="margen-ancho" id="subCatAcc" name="subCatAcc">
                        <option value=""></option>
                        <% subCategoryAccesoriosList.forEach (subCategory => { %>
                            <option value=" <%= subCategory.id %> " <% if (producto.id_sub_categoria === subCategory.id) { %> selected <% } %>><%= subCategory.nombre_sub_category %></option>
                        <% }) %>
                </select><br>
                <% if (typeof errors != "undefined" && errors.subCatAcc) {%>
                    <small id="msjErrorSubCatAcc" class="msjError"><%= errors.subCatAcc.msg  %></small>
                <% } else {%>
                    <small id="msjErrorSubCatAcc" class="msjError"></small>
                 <% } %>
                <!-- fin accesorios -->
                </div>
            

                <div class="elementos-form">
                <!-- las marcas serian en funcion de la categoria? --> <!--Sole agregar marcas-->
                <label for="marca">Marca:</label><br>
                    <select class="margen-ancho" id="marca" name="marca">
                        <% brandList.forEach (brand => { %>
                            <option value=" <%= brand.id %> " <% if (producto.id_marca === brand.id) { %> selected <% } %>><%= brand.nombre_marca %></option>
                        <% }) %>  
                </select><br>
                <% if (typeof errors != "undefined" && errors.marca) {%>
                    <small id="msjErrorMarca" class="msjError"><%= errors.marca.msg  %></small>
                <% } else {%>
                    <small id="msjErrorMarca" class="msjError"></small>
                 <% } %>
                </div>

                <div class="elementos-form">
                <label for="edadmascota">Edad mascota:</label><br>
                    <select  class="margen-ancho" id="edadmascota" name="edadmascota" >
                        <!-- <option value=""></option> -->
                        <% petAgeList.forEach (petAge => { %>
                            <option value=" <%= petAge.id %> " <% if (producto.id_edad_mascota === petAge.id) { %> selected <% } %>><%= petAge.edad %></option>
                        <% }) %> 
                    </select><br>
                    <% if (typeof errors != "undefined" && errors.edadmascota) {%>
                        <small id="msjErrorAge" class="msjError"><%= errors.edadmascota.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorAge" class="msjError"></small>
                     <% } %>
                </div>

                <div class="elementos-form">
                <label for="tamaniomascota">Tamaño mascota:</label><br>
                <select class="margen-ancho" id="tamaniomascota" name="tamaniomascota" >
                    <!-- <option value=""></option> -->
                    <% petSizeList.forEach (petSize => { %>
                        <option value=" <%= petSize.id %> " <% if (producto.id_tamanio_mascota === petSize.id) { %> selected <% } %>><%= petSize.tamanio %></option>
                    <% }) %>
                </select><br>
                <% if (typeof errors != "undefined" && errors.tamaniomascota) {%>
                    <small id="msjErrorSize" class="msjError"><%= errors.tamaniomascota.msg  %></small>
                <% } else {%>
                    <small id="msjErrorSize" class="msjError"></small>
                 <% } %>
                </div>
                
                <div class="elementos-form-100">
                <div id="box-destacado" class="margen-ancho">
                    <label for="destacado">Destacado:</label> <input type="checkbox" id="destacado" name="destacado" value="true" <% if (producto.destacado === 1) { %> checked <% } %>>
                </div>
                </div>

                <div class="elementos-form-100">
                    <label for="descripcion">Descripción:</label><br>
                    <input class="margen-ancho" name="descripcion" id="descripcion" value="<%= locals.old && locals.old.descripcion ? old.descripcion : producto.descripcion %>"> </input><br>
                    <% if (typeof errors != "undefined" && errors.descripcion) {%>
                        <small id="msjErrorDescripcion" class="msjError"><%= errors.descripcion.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorDescripcion" class="msjError"></small>
                     <% } %>
                </div>

                <div class="elementos-form">
                    <label for="stock">Stock:</label><br>
                    <input class="margen-ancho" type="number" id="stock" name="stock" value="<%= locals.old && locals.old.stock ? old.stock : producto.stock %>"><br>
                    <% if (typeof errors != "undefined" && errors.stock) {%>
                        <small id="msjErrorStock" class="msjError"><%= errors.stock.msg  %></small>
                    <% } else {%>
                        <small id="msjErrorStock" class="msjError"></small>
                     <% } %>
                </div>

                <div class="elementos-form">
                    <label for="estado">Estado:</label><br>
                    <select class="margen-ancho" id="estado" name="estado">
                        <% if (locals.old) { %>
                            <option value=1 <% if (locals.old.estado == 1)  { %> selected <% } %>>Activo</option>
                            <option value=0 <% if (locals.old.estado == 0)  { %> selected <% } %>>Inactivo</option>
                        <% } else { %>
                            <option value=1 <% if (producto.activo == 1)  { %> selected <% } %>>Activo</option>
                            <option value=0 <% if (producto.activo == 0)  { %> selected <% } %>>Inactivo</option>
                        <% } %>
                    </select>
                    
                </div>

                <div class="elementos-form">
                    <label for="newImage" class="form-label">Imagen:</label> <!--SPRINT 4-->
						<br>
						<img src="/images/productos/<%= producto.imagen%>" class="actualImg" alt="Imagen Actual" name="newImage">
						<br>
              			<input type="file" class="form-upload" name="foto" accept="image/*"/>
                        <% if (typeof errors != "undefined" && errors.foto) {%>
                            <small id="msjErrorImg" class="msjError"><%= errors.foto.msg  %></small>
                        <% } else {%>
                            <small id="msjErrorImg" class="msjError"></small>
                         <% } %>
                </div>
                             
                <div class="elementos-form-100">
                    <div id="form-buttons">
                        <a href="/product/list"><button type="button">CANCELAR</button></a>
                        <button type="submit" id="botonguardar" name="botonguardar">GUARDAR</button>
                    </div>
                </div>
            </form>
        </section>
       
    
        <!-- include marcas -->
       <%- include('../partials/marcas') %>
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>