<!DOCTYPE html>
<html lang="en">
  <!-- include head -->
<%- include('../partials/head', {title: 'Editando producto: ' + producto.id})%>

<script>
    function mostrarOpciones() {
      var select1 = document.getElementById("categoria");
      var opcionesDiv = document.getElementById("subCatSelect");
      var opcionesDivPrentacion = document.getElementById("alimentoPresentacion");
      var opcionesDivAccesorios = document.getElementById("subCatAccesorios");
      var select2 = document.getElementById("subCat");
      
      opcionesDiv.style.display = (select1.value == 1) ? "block" : "none";
      opcionesDivPrentacion.style.display = (select1.value == 1) ? "block" : "none";
      opcionesDivAccesorios.style.display = (select1.value == 2) ? "block" : "none";
    }

</script>

  <body>
    
    <!-- include header -->
    <%- include('../partials/header') %>
    <main>
        <p id="title-alta"> Formulario edición de producto </p>
      
        <section class="fichaprod">
            <form id="form-alta-prod" method="post" action="/product/editar/<%=producto.id%>?_method=PUT" enctype="multipart/form-data">
                <div class="elementos-form">
                    <label for="mascota">Mascota:</label><br>
                    <select class="margen-ancho" id="mascota" name="mascota" >
                        <% petList.forEach (pet => { %>
                            <option value=" <%= pet.id %> " <% if (producto.id_mascota === pet.id) { %> selected <% } %>><%= pet.mascota %></option>
                        <% }) %>
                    </select><br>

                </div>
                <div class="elementos-form">
                <label for="nombreprod">Nombre producto:</label><br>
                <input class="margen-ancho" type="text" id="nombreprod" name="nombreprod" value="<%= producto.nombre%>"><br>
                </div>
               
                <div class="elementos-form">
                    <label for="precio">Precio ($ ARS):</label><br>
                    <input class="margen-ancho" type="number" id="precio" name="precio" step="any" value="<%= producto.precio %>"><br>
                </div>
                <div class="elementos-form">
                    <label for="descuento">Descuento(%):</label><br>
                    <input class="margen-ancho" type="text" id="descuento" name="descuento" value="<%= producto.descuento %>"><br>
                </div>

                <div class="elementos-form">
                <label for="categoria">Categoría:</label><br>
                    <select  class="margen-ancho" id="categoria" name="categoria" onchange="mostrarOpciones()">
                        <% categoryList.forEach (category => { %>
                            <option value=" <%= category.id %> " <% if (producto.id_categoria === category.id) { %> selected <% } %>><%= category.nombre %></option>
                        <% }) %>
                </select><br>
                </div>

    
                <div class="elementos-form" id="subCatSelect" onchange="mostrarOpciones()" <% if (producto.id_categoria !== 1) { %> style="display: none;"<% } %>>
                 <!-- solo mostrar si se selecciona subCat alimentos -->
                <label for="subCat">Subcategorías de alimentos:</label><br>
                    <select class="margen-ancho" id="subCat" name="subCat">
                        <option value=""></option>
                        <% subCategoryAlimentosList.forEach (subCategory => { %>
                            <option value=" <%= subCategory.id %> " <% if (producto.id_sub_categoria === subCategory.id) { %> selected <% } %>><%= subCategory.nombre_sub_category %></option>
                        <% }) %>
                    </select><br>
                </div>
                
                

            <div class="elementos-form" id="alimentoPresentacion" <% if (producto.id_categoria !== 1) { %> style="display: none;"<% } %>>
                <label for="presentacion">Presentación:</label><br>
                <select  class="margen-ancho" id="presentacion" name="presentacion">
                    <option value=""></option>
                    <% packageList.forEach (package => { %>
                        <option value="<%= package.id %>" <% if (producto.id_presentacion === package.id) { %> selected <% } %>><%= package.cantidad + ' ' + package.unidad_medida %></option>
                    <% }) %>                    
                </select><br>
            </div>
                <!--fin alimentos -->
            
                <div class="elementos-form" id="subCatAccesorios" onchange="mostrarOpciones()" <% if (producto.id_categoria !== 2) { %> style="display: none;"<% } %>>
                <!-- solo mostrar si se selecciona accesorios- subCategorias accesorios -->
                <label for="subCatAcc">Subcategorías de accesorios:</label><br>
                    <select class="margen-ancho" id="subCatAcc" name="subCatAcc">
                        <option value=""></option>
                        <% subCategoryAccesoriosList.forEach (subCategory => { %>
                            <option value=" <%= subCategory.id %> " <% if (producto.id_sub_categoria === subCategory.id) { %> selected <% } %>><%= subCategory.nombre_sub_category %></option>
                        <% }) %>
                </select><br>
                <!-- fin accesorios -->
                </div>
            

                <div class="elementos-form">
                <!-- las marcas serian en funcion de la categoria? --> <!--Sole agregar marcas-->
                <label for="marca">Marca:</label><br>
                    <select class="margen-ancho" id="marca" name="marca">
                        <% brandList.forEach (brand => { %>
                            <option value=" <%= brand.id %> " <% if (producto.id_marca === brand.id) { %> selected <% } %>><%= brand.nombre_marca %></option>
                        <% }) %>  
                </select><br>
                </div>

                <div class="elementos-form">
                <label for="edadmascota">Edad mascota:</label><br>
                    <select  class="margen-ancho" id="edadmascota" name="edadmascota" >
                        <!-- <option value=""></option> -->
                        <% petAgeList.forEach (petAge => { %>
                            <option value=" <%= petAge.id %> " <% if (producto.id_edad_mascota === petAge.id) { %> selected <% } %>><%= petAge.edad %></option>
                        <% }) %> 
                    </select><br>
                </div>

                <div class="elementos-form">
                <label for="tamaniomascota">Tamaño mascota:</label><br>
                <select class="margen-ancho" id="tamaniomascota" name="tamaniomascota" >
                    <!-- <option value=""></option> -->
                    <% petSizeList.forEach (petSize => { %>
                        <option value=" <%= petSize.id %> " <% if (producto.id_tamanio_mascota === petSize.id) { %> selected <% } %>><%= petSize.tamanio %></option>
                    <% }) %>
                </select><br>
                </div>
                
                <div class="elementos-form-100">
                <div id="box-destacado" class="margen-ancho">
                    <label for="destacado">Destacado:</label> <input type="checkbox" id="destacado" name="destacado" value="true" <% if (producto.destacado === 1) { %> checked <% } %>>
                </div>
                </div>

                <div class="elementos-form-100">
                    <label for="descripcion">Descripción:</label><br>
                    <textarea name="descripcion" id="descripcion" ><%= producto.descripcion %> </textarea><br>
                    <label for="newImage" class="form-label">Imagen:</label> <!--SPRINT 4-->
						<br>
						<img src="/images/productos/<%= producto.imagen%>" class="actualImg" alt="Imagen Actual" name="newImage">
						<br>
              			<input type="file" class="form-upload" name="newImage" accept="image/*"/>
						
                </div>
                
                <div class="elementos-form">
                    <label for="stock">Stock:</label><br>
                    <input class="margen-ancho" type="number" id="stock" name="stock" value="<%= producto.stock %>"><br>
                </div>
               
                <div class="elementos-form-100">
                    <div id="form-buttons">  
                        <button type="submit" >GUARDAR</button>
                        <a href="/product"><button type="button">CANCELAR</button></a>
                        
                    </div>
                </div>
            </form>
        </section>
       
    
        <!-- include marcas -->
       <%- include('../partials/marcas') %>
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>