<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/head') %>
    <body>
        <!-- include header -->
        <%- include('../partials/header') %>
            <main>
                <p class="rutahome">
                    <a href="/">Home</a> / <a href="/mascotas">Mascotas</a> /
                    <% mascotaUp = mascota.charAt(0).toUpperCase() + mascota.slice(1);  %>
                    <% if (categoria) { %>      
                            <a href="/product/<%= mascota %>"> <%= mascotaUp %></a> /<% } else {%> <%= mascotaUp %> / <%} %>
                                <% if (subCategoria) { %> <a href="/product/<%= mascota %>/<%= categoria %>">
                                    <% categoriaUp = categoria.charAt(0).toUpperCase() + categoria.slice(1);  %>
                                    <%= categoriaUp %> </a>
                                    <% } else {%>
                                            <% categoriaUp = categoria.charAt(0).toUpperCase() + categoria.slice(1);  %>
                                            <%= categoriaUp %>
                                        <%} %>
                                            <% if (subCategoria) { %> / 
                                                <% subCategoriaUp = subCategoria.charAt(0).toUpperCase() + subCategoria.slice(1);  %>
                                                <%= subCategoriaUp %>
                                            <% } %>

                </p>
                <div class="listado-content">
                    
                    <!-- include filtros -->
                    <%- include('../partials/filtros-productos') %>

                    <section class="listadoArticulos">
                        <% if (productsMascotas.length > 0){ %>
                            <% for (i=0; i< productsMascotas.length; i++){ %>
                                <article>
                                    <a href="/product/detalle/<%= productsMascotas[i].id %>"><img src="/images/productos/<%= productsMascotas[i].imagen %>" alt=""></a>
                                    <div class="detalle">
                                        <p id=""><%= productsMascotas[i].nombre %></p>
                                            <% if (productsMascotas[i].descuento != 0) {
                                                precioFinal = (productsMascotas[i].precio - ((productsMascotas[i].precio * (productsMascotas[i].descuento/100)))) %>
                                                <div class="preciosOfertas">
                                                    <span id="prodOff"><%= productsMascotas[i].descuento %>% OFF</span>
                                                    <p class="precioAnt" id="">$<%= productsMascotas[i].precio%></p>
                                                    <p class="precioAhora" id="">$<%= precioFinal %> </p> 
                                                </div>
                                            <% } else {%>
                                                <p class="precioAhora" id="">$<%= productsMascotas[i].precio %> </p>
                                            <% } %>
                                        <a><input type="button" value="Comprar" id="btn-comprar"/></a>
                                    </div>
                                </article>    
                            <%  } %>
                        <%  } else { %>
                                <p>NO HAY RESULTADOS PARA LA BUSQUEDA</p>
                        <%  } %>
                    </section>
                </div>
                <!-- include marcas -->
                <%- include('../partials/marcas') %>
            </main>

            <!-- include footer -->
            <%- include('../partials/footer') %>
    </body>

</html>