<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./partials/head') %>

<body>
    <!-- include header -->
    <%- include('./partials/header') %>
    <section>
       <!-- include banner -->
       <%- include('./partials/banner') %>
    </section>
    <main>
        <div class="categorias">
            <div>
                <a href="/product/perros/accesorios"><img src="/images/categorias/accesorios.jpg" alt="Accesorios"></a>
            </div>
            <div>
                <a href="/product/perros/alimento"><img src="/images/categorias/alimentacion.jpg" alt="Alimentación"></a>
            </div>
            <div>
                <a href="/product/gatos/cuidados-higiene"><img src="/images/categorias/cuidado.jpg" alt="Cuidados e higiene"></a>
            </div>
            <div>
                <a href="/product/perros/ropa"><img src="/images/categorias/ropa.jpg" alt="Ropa"></a></a>
            </div>
        </div>
        <p></p>
        <p class="tituloProductosDestacados">PRODUCTOS DESTACADOS</p>
        <section class="listadoArticulos">
            <% for (i=0; i< productsDestacado.length; i++){ %>
                <article>
                    <a href="/product/detalle/<%= productsDestacado[i].id %>"><img src="/images/productos/<%= productsDestacado[i].imagen %>" alt="Cinturon seguridad"></a>
                    <div class="detalle">
                        <p id=""><%= productsDestacado[i].nombreProducto %></p>
                            <% if (productsDestacado[i].descuento != 0) {
                                precioFinal = (productsDestacado[i].precio - ((productsDestacado[i].precio * (productsDestacado[i].descuento/100)))) %>
                                <div class="preciosOfertas">
                                    <span id="prodOff"><%= productsDestacado[i].descuento %>% OFF</span>
                                    <p class="precioAnt" id="">$<%= productsDestacado[i].precio %></p>
                                    <p class="precioAhora" id="">$<%= precioFinal %> </p> 
                                </div>
                            <% } else {%>
                                <p class="precioAhora" id="">$<%= productsDestacado[i].precio %> </p>
                            <% } %>
                        <a><input type="button" value="Comprar" id="btn-comprar"/></a>
                    </div>
                </article>    
            <%  } %>
        </section>
        <div class="verproductos">
            <a href="#"> <input type="button" name="productos" id="productos" value="Mostrar más productos"/> </a>
        </div>

        <!-- include marcas -->
        <%- include('./partials/marcas') %>
    </main>
     <!-- include footer -->
     <%- include('./partials/footer') %>

</body>

</html>