<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./partials/head') %>

<body>
    <!-- include header -->
    <%- include('./partials/header') %>
       
    <main >
        <section class="contenido">
            <h1 class="center">SALES</h1>
        </section>
        <% if (productsDiscount.length > 0){ %>
            <h3 class="contenido center">¡Tenemos productos en liquidación! </h3>
            <div class="listado-content">
                <section class="listadoArticulos">    
                        <% for (i=0; i< productsDiscount.length; i++){ %>
                            <article>
                                <a href="/product/detalle/<%= productsDiscount[i].id %>"><img src="/images/productos/<%= productsDiscount[i].imagen %>" alt="Cinturon seguridad"></a>
                                <div class="detalle">
                                    <p id=""><%= productsDiscount[i].nombre %></p>
                                        <% if (productsDiscount[i].descuento != 0) {
                                            precioFinal = (productsDiscount[i].precio - ((productsDiscount[i].precio * (productsDiscount[i].descuento/100)))) %>
                                            <div class="preciosOfertas">
                                                <span id="prodOff"><%= productsDiscount[i].descuento %>% OFF</span>
                                                <p class="precioAnt" id="">$<%= toThousand (productsDiscount[i].precio) %></p>
                                                <p class="precioAhora" id="">$<%= toThousand (precioFinal) %> </p> 
                                            </div>
                                        <% } else {%>
                                            <p class="precioAhora" id="">$<%= toThousand(productsDiscount[i].precio) %> </p>
                                        <% } %>
                                    <a href="/product/detalle/<%= productsDiscount[i].id %>"s><input type="button" value="Comprar" id="btn-comprar"/></a>
                                </div>
                            </article>    
                        <%  } %>

                </section>
            </div>
        <%  } else { %>
                    <h3 class="contenido center">No se encontraron productos en oferta</h3>
            <%  } %>
        <p>

        </p>
    </main>

    <!-- include footer -->
    <%- include('./partials/footer') %>
</body>

</html>