<script src="/js/filtros-productos.js"> </script>
<section id="mobile">
    <form action="" method="get" id="searchProdMobile">
        <label for="categoryList">Categorias:</label>
        <select id="categoryList" name="categoryList">
            <option value="" ></option>
            <% for (i=0; i< categorias.length; i++){ %>
                <% valorLink = categorias[i].nombre.replace(/\s+/g, '-') %>
                <option value="/product/<%= mascota %>/<%= valorLink %>"> <%=  categorias[i].nombre  %></option>            
            <% } %>    
        </select>
        <button type="submit" value="Buscar">Buscars</button>
    </form>
</section>
<section id="tablet" class="filter-sections">
    <div id="categorias">
        <h3>Categorias</h3>
        <% if (categoria) { %>
            <% if (categoria==='Alimentos' ) { %>
                <span class="txt-cat">ALIMENTOS</span>
            <% } else if (categoria==='Accesorios' ) { %>
                <span class="txt-cat">ACCESORIOS</span>%>
            <% } else if (categoria==='Cuidado e Higiene' ) { %>
                <span class="txt-cat">CUIDADO E HIGIENE</span>%>
            <% } else if (categoria==='Ropa' ) { %>
                <span class="txt-cat">ROPA</span>%>
            <% } %>
        <% } else {%>
            <ul>
                <% for (i=0; i< categorias.length; i++){ %>
                <% valorLink = categorias[i].nombre.replace(/\s+/g, '-') %>
                    <li id="categoryItem"><a href="/product/<%= mascota %>/<%= valorLink %>"><%=  categorias[i].nombre  %></a> </li>          
                <% } %>
            </ul>
        <% }%>
    </div>
    <% if (categoria==='Alimentos') { %>
        <div id="subCategoria">
            <h4 id="title-subcat">Subcategorias</h4>
            <% for (i=0; i< subCat.length; i++) { %>
                <% if (subCat[i].id_category == 1) { %>
                    <%  valor = subCat[i].nombre_sub_category.replace(/\s+/g, '-') %>
                        <li id="subCategoryItem"><a href="/product/<%= mascota %>/<%= categoria %>/<%= valor %>"><%= subCat[i].nombre_sub_category %></a></li>
                    <% } %>
             <% } %>
        </div>
    <% } %>
    <% if (categoria==='Accesorios' ) { %>
        <div id="subCategoria">
            <h4 id="title-subcat">Subcategorias</h4>
            <% for (i=0; i< subCat.length; i++) { %>
                <% if (subCat[i].id_category == 2) { %>
                    <%  valor = subCat[i].nombre_sub_category.replace(/\s+/g, '-') %>
                        <li><a href="/product/<%= mascota %>/<%= categoria %>/<%= valor %>"><%= subCat[i].nombre_sub_category %></a></li>
                    <% } %>
             <% } %>
        </div>
    <% } %>
            <h3 id="filtros">FILTROS</h3>
            <section id="filterList">

            </section>
            <a href="/product/<%= mascota %>"><button type="" id="btnlimpiar" class="btnlimpiar">Limpiar filtros</button></a>
            <section>
                <form action="/product/filtros/<% if (mascota){ %><%=mascota%><%} %><% if (categoria){ %>/<%=categoria.replace(/\s+/g, '-')%><%} %><% if (subCategoria){%>/<%=subCategoria.replace(/\s+/g, '-')%> <%} %>" method="post">
                    <div>
                        <h4>Marcas</h4>
                        <% for (i=0; i< brand.length; i++){ %>
                            <% valorLink = brand[i].nombre_marca.replace(/\s+/g, '-') %>
                            <input type="checkbox" id="marca:<%= brand[i].nombre_marca %>" class="marca-checkbox" name="marca" value="<%= brand[i].id %>">
                            <label for="marca"><%=  brand[i].nombre_marca  %></label><br>
                            
                        <% } %> 
                    </div>
                        <div>
                            <h4>Edad mascota</h4>
                            <% for (i=0; i< petAge.length; i++){ %>
                                <% valorLink = petAge[i].edad.replace(/\s+/g, '-') %>
                                <input type="checkbox" id="edad:<%= petAge[i].edad %>" class="edad-checkbox" name="edad" value="<%= petAge[i].id %>">
                                <label for="edad"><%= petAge[i].edad %></label>
                                <br>      
                            <% } %> 
                        </div>
                        <h4>Tamaño mascota</h4>
                        <div>
                            <% for (i=0; i< pestSize.length; i++){ %>
                                <% valorLink = pestSize[i].tamanio.replace(/\s+/g, '-') %>
                                    <input type="checkbox" id="tamaño:<%= pestSize[i].tamanio %>" class="size-checkbox" name="tamanio" value="<%= pestSize[i].id %>">
                                    <label for="tamanio"><%= pestSize[i].tamanio %></label>
                                <br>      
                            <% } %> 
                        </div>
                        <h4>Precio</h4>
                        <div class="filter-precio">
                            <span>
                                <label for="precioDesde">Desde</label>
                                <input type="number" id="precioDesde" name="precioDesde" value="">
                            </span>
                            <span>
                                <label for="precioHasta">Hasta</label>
                                <input type="number" id="precioHasta" name="precioHasta" value="">
                            </span>

                        </div>
                        <div id="searchButtons">
                            <button type="submit" id="btnfiltrar" class="botones">Filtrar</button>
                            
                        </div>
                </form>      
            </section>
</section>