<section id="mobile">
    <label for="categoryList">Categorias:</label>
    <select id="categoryList" name="categoryList">
        <option value="alimento">Alimentacion</option>
        <option value="accesorios">Accesorios</option>
        <option value="cuidados-higiene">Cuidados e Higiene</option>
        <option value="ropa">Ropa</option>
    </select>
    <input type="button" value="Buscar" />
</section>
<section id="tablet" class="filter-sections">
    <div id="categorias">
        <h3>Categorias</h3>
        <% if (categoria) { %>
            <% if (categoria==='alimentos' ) { %>
                <span class="txt-cat">ALIMENTACION</span>
                <% } else if (categoria==='accesorios' ) { %>
                    <span class="txt-cat">ACCESORIOS</span>%>
                    <% } else if (categoria==='cuidados-higiene' ) { %>
                        <span class="txt-cat">CUIDADO E HIGIENE</span>%>
                        <% } else if (categoria==='ropa' ) { %>
                            <span class="txt-cat">ROPA</span>%>
                            <% } %>
                                <% } else {%>
                                    <ul>
                                        <li><a href="/product/<%= mascota %>/alimentos">ALIMENTACION</a>
                                        </li>
                                        <li><a href="/product/<%= mascota %>/accesorios">ACCESORIOS</a></li>
                                        <li><a href="/product/<%= mascota %>/cuidados-higiene">CUIDADOS E
                                                HIGIENE</a></li>
                                        <li><a href="/product/<%= mascota %>/ropa">ROPA</a></li>
                                    </ul>
                                    <% }%>
    </div>
    <% if (categoria==='alimentos' ) { %>
        <div id="subCategoria">
            <h4 id="title-subcat">Subcategorias</h4>
            <li><a href="/product/<%= mascota %>/alimentos/alimentos-secos">Alimentos secos</a></li>
            <li><a href="/product/<%= mascota %>/alimentos/latas-sobres">Latas y sobres</a></li>
            <li><a href="/product/<%= mascota %>/alimentos/alimentos-naturales">Alimentos naturales</a></li>
        </div>
    <% } %>
    <% if (categoria==='accesorios' ) { %>
        <div id="subCategoria">
            <h4 id="title-subcat">Subcategorias</h4>
            <li><a href="/product/<%= mascota %>/accesorios/camas">Camas</a></li>
            <li><a href="/product/<%= mascota %>/accesorios/correas">Correas</a></li>
            <li><a href="/product/<%= mascota %>/accesorios/comederos-bebederos">Comederos / bebederos</a></li>
            <li><a href="/product/<%= mascota %>/accesorios/dispnesers">Dispensers</a></li>
            <li><a href="/product/<%= mascota %>/accesorios/transportadoras">Transportadoras</a></li>
            <li><a href="/product/<%= mascota %>/accesorios/otros">Otros</a></li>
        </div>
    <% } %>
            <h3 id="filtros">FILTROS</h3>
            <section>
                    <div>
                        <h4>Marcas</h4>
                        <input type="checkbox" id="marca1" name="marca1" value="Pedigree">
                        <label for="marca1"> Pedigree</label><br>
                        <input type="checkbox" id="marca2" name="marca2" value="Royal">
                        <label for="marca2"> Royal</label><br>
                        <input type="checkbox" id="marca3" name="marca3" value="Purina">
                        <label for="marca3"> Purina</label><br>
                        <input type="checkbox" id="marca4" name="marca4" value="Nutrique">
                        <label for="marca4"> Nutrique</label><br>
                        <input type="checkbox" id="marca5" name="marca5" value="Absorsol">
                        <label for="marca5"> Absorsol</label><br>
                        <input type="checkbox" id="marca6" name="marca6" value="Vitalcan">
                        <label for="marca6"> Vitalcan</label><br>
                        <input type="checkbox" id="marca7" name="marca7" value="Puppis">
                        <label for="marca7"> Puppis</label><br>
                        <input type="checkbox" id="marca8" name="marca8" value="Canine Couture">
                        <label for="marca8"> PupCanine Coutureis</label><br>
                        <input type="checkbox" id="marca9" name="marca9" value="Garritas">
                        <label for="marca9"> Garritas</label><br>
                        <input type="checkbox" id="marca10" name="marca10" value="Oasis">
                        <label for="marca10">Oasis</label><br>
                        <input type="checkbox" id="marca11" name="marca11" value="Frontline">
                        <label for="marca11"> Vitalcan</label><br>
                        <input type="checkbox" id="marca12" name="marca12" value="Forte Health">
                        <label for="marca12"> Forte Health</label><br>
                        <input type="checkbox" id="marca13" name="marca12" value="Pauldip">
                        <label for="marca13">Pauldip</label><br>
                        <input type="checkbox" id="marca14" name="marca12" value="La Tienda">
                        <label for="marca14"> La Tienda</label><br>
                        <input type="checkbox" id="marca15" name="marca12" value="Bacan">
                        <label for="marca15">Bacan</label><br>
                        <input type="checkbox" id="marca16" name="marca12" value="Animal Pet">
                        <label for="marca16">Animal Pet</label><br>

                    </div>
                        <div>
                            <h4>Edad mascota</h4>
                            <a href="/product/<%= mascota %>/?edad=cachorro"><input type="checkbox" id="edad1" name="edad1" value="cachorro"></a>
                                <label for="edad1"> Cachorro</label>
                            <br>
                            <input type="checkbox" id="edad2" name="edad2" value="adulto">
                            <label for="edad2"> Adulto</label><br>
                        </div>
                        <h4>Tamaño mascota</h4>
                        <div>
                            <input type="checkbox" id="tamaño1" name="tamaño1" value="pequeño">
                            <label for="tamaño1"> Pequeño</label><br>
                            <input type="checkbox" id="tamaño2" name="tamaño2" value="mediano">
                            <label for="tamaño2"> Mediano</label><br>
                            <input type="checkbox" id="tamaño3" name="tamaño3" value="Grande">
                            <label for="tamaño3"> Adulto</label><br>
                        </div>
                        <h4>Precio</h4>
                        <div class="filter-precio">
                            <span>
                                <label for="precioDesde">Desde</label>
                                <input type="text" id="precioDesde" name="precioDesde" value="">
                            </span>
                            <span>
                                <label for="precioHasta">Hasta</label>
                                <input type="text" id="precioHasta" name="precioHasta" value="">
                            </span>
                            <span id="search-precio">
                                <button id="buscar-precio" type="submit"><i
                                        class="fa-solid fa-caret-right"></i></button>
                            </span>

                        </div>
            </section>
</section>