<html lang="en">

<!-- include head -->
<%- include('../partials/head') %>


<body>
    <!-- include header -->
    <%- include('../partials/header') %>
   
    <main class="mainlogin">
        <p class="rutahome"><a href="/">Home</a> / Edición</p>
        <form action="/user/editUser/<%= infoUser.id %>?_method=PUT" method="POST" id="formRegistro" enctype="multipart/form-data">
            <label for="nombre">Nombre</label> 
            <input type="text" name="nombre" id="nombre" value="<%= locals.oldData ? oldData.nombre : infoUser.nombre%>">
            <% if (locals.errors && errors.nombre) { %>
                <p class="error"> <%= errors.nombre.msg %></p>
            <% } %>
            <br>
            <label for="apellido">Apellido</label> 
            <input type="text" name="apellido" id="apellido" value="<%= locals.oldData ? oldData.apellido : infoUser.apellido %>">
            <% if (locals.errors && errors.apellido) { %>
                <p class="error"> <%= errors.apellido.msg %></p>
            <% } %>       
            <br>
            <label for="email">Email</label> 
            <input type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email : infoUser.email %>">
            <% if (locals.errors && errors.email) { %>
                <p class="error"> <%= errors.email.msg %></p>
            <% } %> 
            <br>
            <label for="dir">Dirección</label> 
            <input type="text" name="dir" id="dir" value="<%= locals.oldData ? oldData.dir : infoUser.direccion %>">
            <% if (locals.errors && errors.dir) { %>
                <p class="error"> <%= errors.dir.msg %></p>
            <% } %> 
            <br>
            <label for="telefono">Teléfono</label> 
            <input type="number" name="telefono" id="telefono" value="<%= locals.oldData ? oldData.telefono : infoUser.telefono %>"> 
            <% if (locals.errors && errors.telefono) { %>
                <p class="error"> <%= errors.telefono.msg %></p>
            <% } %> 
            <br>        
            <label for="contrasenia">Contraseña</label> 
            <input type="password" name="contrasenia" id="contrasenia">            
            <% if (locals.errors && errors.contrasenia) { %>
                <p class="error"> <%= errors.contrasenia.msg %></p>
            <% } %> 
            <br>
            <label for="confirmar">Confirmar contraseña</label> 
            <input type="password" name="confirmar" id="confirmar">    
            <% if (locals.errors && errors.confirmar) { %>
                <p class="error"> <%= errors.confirmar.msg %></p>
            <% } %>         
            <br>
            <label for="foto">Imagen</label>
            <img src="/images/usuarios/<%= locals.oldData ? imagen : infoUser.imagen%>" class="actualImg" alt="Imagen Actual" name="fotoAnt">
            <input type="text" name="imageAnt" id="imageAnt" value="<%= locals.oldData ? imagen : infoUser.imagen%>" hidden>
            <br>
            <input class="margen-ancho" type="file" id="foto" name="foto" accept="image/*" value="<%= locals.oldData ? oldData.imagen : infoUser.imagen%>"> 
            <% if (locals.errors && errors.foto) { %>
                <p class="error"> <%= errors.foto.msg %></p>
            <% } %> <br>
            <% if(locals.user && user.categoria === "administrador") {%>
                <label for="categoria">Categoria:</label><br>
                <select class="margen-ancho" id="categoria" name="categoria" >
                    <option value="administrador" <% if (userInfo.categoria === 'administrador') { %> selected <% } %>>Administrador</option>
                    <option value="cliente" <% if (userInfo.categoria === 'cliente') { %> selected <% } %>>cliente</option>
                </select><br>
            <% } else {%>
                <input type="text" name="categoria" id="categoria" value="cliente" hidden>
            <% } %>
            <br>            
            <button type="submit">GUARDAR CAMBIOS</button>
            <br>

            </form>
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>