<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include("../partials/head.ejs") %>

<body>
    <!-- include header -->
    <%- include('../partials/header') %>

    <main class="mainlogin">
        <p class="rutahome"><a href="/">Home</a> / login</p>

            <form action="/user/login" method="POST">

                <% if (locals.authError) {%>
                    <p style="color:red"> 
                        Para acceder a la página solicitada primero debes loguearte 
                    </p>
                <% } %>

                <label for="email">Email</label> 
                <input type="email" name="email" id="email">

                <% if (typeof errors != "undefined") {%>
                    <% for (let i=0 ; i < errors.length ; i++) {%>
                        <p style="color:red"> <%= errors[i].msg  %> </p>
                    <% } %>
                <% } %>

                <% if (typeof errors != "undefined" && errors.email) {%>
                    <p style="color:red"> <%= errors.email.msg  %> </p>
                <% } %>

                <br>
                <br>
                <label for="contraseña">Contraseña</label> 
                <input type="password" name="contraseña" id="contraseña">

                <% if (typeof errors != "undefined" && errors.contraseña) {%>
                    <p style="color:red"> <%= errors.contraseña.msg  %> </p>
                <% } %>

                <p class="olvidasteclave"><a href="#">¿Olvidaste tu contraseña?</a></p>
                <br>
                <br>
                <div class="opcionrecordarme">
                    <label for="recordarme">Recordarme</label>
                    <input type="checkbox" name="recordarme">
                </div>
                <br>
                <br>
                <button type="submit">INICIAR SESIÓN</button>
                <br>
                <br>
                <p class="notenescuenta">¿No tenés cuenta? <br>
                <a href="/user/register"><strong>Crear cuenta</strong></a></p>
            </form>
        
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>