<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<%- include("../partials/head.ejs") %>

<body>
    <!-- include header -->
    <%- include('../partials/header') %>

    <main class="mainusuario">
        <div class="cabezausuario">
            <img src= "/images/usuarios/<%= user && user.imagen %>" margin-top="15px" height="80px" width="80px">
        <div class="identidad">
            <p class="nombre"> <%= user && user.nombre %> <%=user && user.apellido  %> </p>
            <p class="correo"> <%= user && user.email  %> </p>
            
        </div>
        </div>

        <div class="actividad">
            <p><strong>USUARIOS</strong></p>
            <p class="historial"><i class="fa-solid fa-users"></i> <a href="/user/usersList" class=""> Listado de usuarios</a></p>
            <br>
            <p><strong>PRODUCTOS</strong></p>
            <p class="historial"><i class="fa-brands fa-creative-commons-share"></i><a href="/product/list" class=""> Listado de productos</a></p>
            <p class="historial"><i class="fa-solid fa-plus"></i> <a href="/product/crear" class=""> Crear producto</a></p>
            <br>
        </div>
        <div class="sesiones">
            <br>
            <p class="sesion"><i class="fa-solid fa-right-from-bracket"></i> <a href="/user/logout">Cerrar sesión</a> </p>
        </div>
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>