<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<%- include("../partials/head.ejs") %>

<body>
    <!-- include header -->
    <%- include('../partials/header') %>

    <main class="mainusuario">
        <div class="cabezausuario">
            <img src= " <%= user && user.imagen %>" margin-top="15px" height="80px" width="80px">
        <div class="identidad">
            <p class="nombre"> <%= user && user.nombre %> <%=user && user.apellido  %> </p>
            <p class="correo"> <%= user && user.email  %> </p>
            <% if (locals.adminError) { %>
                <p style="color: red"> NO TIENES PERMISOS DE ADMINISTRADOR </p>
            <% } %>
        </div>
        </div>

        <div class="perfil">
            <p><strong>Perfil</strong></p>
            <br>
            <p class="opciones"><i class="fa-solid fa-location-dot"></i> Direcciones</p>
            <p class="opciones"><i class="fa-solid fa-heart"></i> Favoritos</p>
            <p class="opciones"><i class="fa-solid fa-money-check-dollar"></i> Medios de pago</p>
        </div>
        <div class="actividad">
            <p><strong>Actividad</strong></p>
            <br>
            <p class="historial"><i class="fa-solid fa-basket-shopping"></i> Últimas compras realizadas</p>
            <p class="historial"><i class="fa-solid fa-star"></i> Productos más comprados</p>
        </div>
        <div class="configuracion">
            <p><strong>Configuración</strong></p>
            <br>
            <p class="config"><i class="fa-solid fa-bell"></i> Notificaciones</p>
            <p class="config"><i class="fa-solid fa-circle-info"></i> Información legal</p>
            <p class="config"><i class="fa-solid fa-gear"></i> Ajustes de cuenta</p>
        </div>
        <div class="sesiones">
            <br>
            <p class="sesion"><i class="fa-solid fa-right-from-bracket"></i> <a href="/user/logout">Cerrar sesión</a> </p>
        </div>

        
        
        
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>