<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/head') %>
    <body>
        <!-- include header -->
        <%- include('../partials/header') %>
            <main>
                <p class="rutahome">
                    <a href="/user/profile">Perfil</a> / Listado Usuarios /
                </p>
                <div class="listado-content">
                    <section class="listadoArticulos">
                        <% if (usersList.length > 0){ %>
                            <% for (i=0; i< usersList.length; i++){ %>
                                <article>
                                    <a href="/user/detalle/<%= usersList[i].id %>"><img class="avatar" src="/images/usuarios/<%= usersList[i].imagen %>" alt=""></a>
                                    <div class="detalle">
                                        <p id=""><%= usersList[i].nombre %> <%= usersList[i].apellido %></p>
                                        <p id=""><%= usersList[i].email %> </p>
                                        <p id=""><%= usersList[i].direccion %> </p>
                                        <p id=""><%= usersList[i].telefono %> </p>
                                                                                
                                    </div>
                                    <div class="elementos-form-100">
                                        <div id="form-buttons">  
                                            <a href="/user/editUser/<%= usersList[i].id %>" class=""><button type="button" class="">EDITAR</button></a>
                                            <a href="/user/delete/<%= usersList[i].id %>" class=""><button type="button" class="">ELIMINAR</button></a>
                                        </div>
                                    </div>  
                                </article>    
                            <%  } %>
                             
                        <%  } else { %>
                                <p>NO HAY RESULTADOS PARA LA BUSQUEDA</p>
                        <%  } %>
                    </section>
                </div>
                
            </main>

            <!-- include footer -->
            <%- include('../partials/footer') %>
    </body>

</html>